<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="">Allen Dela Cruz</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse @NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <NavLink class="nav-link text-color-primary" href="" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-color-primary" href="cv">CV</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-color-primary" href="projects">Projects</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private string NavItemClass => collapseNavMenu ? "d-none" : "d-block d-sm-block d-md-block d-lg-none";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}