@if (Description is null && DescriptionTemplate is null)
{
    <img class="img-fluid" src=@($"../images/projects/{@Project.Id}/{@Project.Id}{imageNumberString}.png") alt="@Project.Title">
}
else
{
    <div class="text-center">
        <img class="img-fluid" src=@($"../images/projects/{@Project.Id}/{@Project.Id}{imageNumberString}.png") alt="@Project.Title">
        @if (DescriptionTemplate is null)
        {
            <span class="text-secondary">@Description</span>
        }
        else
        {
            @DescriptionTemplate
        }
    </div>
}

@code {
    private int? imageNumber;
    private string imageNumberString;

    [Parameter]
    public Project Project { get; set; }

    [Parameter]
    public int? ImageNumber
    {
        get => imageNumber;
        set
        {
            imageNumber = value;

            if (imageNumber is null)
                imageNumberString = string.Empty;
            else
                imageNumberString = $"-{value}";
        }
    }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public RenderFragment DescriptionTemplate { get; set; }
}