<h3>@Project.Title</h3>

<p>@Project.Description</p>

<ProjectImage Project="Project" />

@foreach (var t in Project.TechStacks)
{
    <span class="text-white bg-secondary rounded p-1 m-1 d-inline-block h6" style="font-size: 10px;">@t.Name</span>
}

<br />
<br />
<br />

@code {
    [Parameter]
    public Project Project { get; set; }
}
