@page "/projects/notehub"

<h3>@project.Title</h3>

<p>@project.Description</p>

@code {
    private Project project = new Project();

    protected override void OnInitialized()
    {
        var projectRepository = new ProjectRepository();
        project = projectRepository.GetProject("notehub");

        base.OnInitialized();
    }
}