@page "/projects/notehub"

<ProjectHeader Project="project" />

<p>A <strong>Microsoft OneNote</strong> inspired web application. Where as you can create a <strong>section</strong> and within it you can add a <strong>pages</strong>.</p>
<p>This project is a <strong>single-page application</strong> created using <strong>jQuery</strong> and communicating in backend using <strong>WebAPI</strong> and <strong>Entity Framework</strong> with <strong>SQL Server</strong>.</p>

<ProjectImage Project="project" ImageNumber="2" />
<ProjectImage Project="project" ImageNumber="3" />

@code {
    private Project project = new Project();

    protected override void OnInitialized()
    {
        var projectRepository = new ProjectRepository();
        project = projectRepository.GetProject("notehub");

        base.OnInitialized();
    }
}