/* /Pages/Cv.razor.rz.scp.css */
.progress-size[b-zmsufaw3tt] {
    height: 10px;
    font-size: 10px;
}
/* /Pages/Index.razor.rz.scp.css */
.avatar[b-uyuns4nq3q] {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 100px;
    margin-bottom: 30px;
    background-image: url(../images/allen.jpg);
}

.about-me[b-uyuns4nq3q] {
    max-width: 800px;
    margin: 0 auto;
    font-size: larger;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.content[b-aqyunt3kt0] {
    padding-top: 4.1rem;
}
/* /Shared/ProjectThumb.razor.rz.scp.css */
.card:hover[b-7yqewnp8np] {
    transform: scale(1.1);
}

.card[b-7yqewnp8np] {
    transition: transform 0.2s ease;
}
