@page "/"
@inject IDateTimeService DateTimeService

<div class="container justify-content-center d-flex" style="height: 80vh; width: 100%;">
    <div class="align-self-center">
        <div class="avatar"></div>
        <div class="about-me text-center">
            <span style="font-size:x-large;">
                Hello! I am <strong>Allen Dela Cruz</strong>.
            </span>
            <br />
            <span>
                A .NET developer based in Philippines.
            </span>
            <br />
            <span>
                I create web and mobile application.
            </span>
            <br />
            <span>
                With @(yearOfExperience)+ years of experience.
            </span>
            <br />
            <span>
                Feel free to take a look at my projects <a href="projects" class="a-link-animate-slide-up">here</a>.
            </span>
            <br />
            <span>
                Remotely available at UTC+8. <a href="mailto:allendelacruzprogrammer@gmail.com" class="a-link-animate-slide-up">allendelacruzprogrammer@gmail.com</a>
            </span>
        </div>
    </div>
</div>

@code {
    private int yearOfExperience;
    private DateTime start = new DateTime(2015, 3, 16);

    protected override void OnInitialized()
    {
        yearOfExperience = start.GetDifferenceInYears(DateTimeService.Now);

        base.OnInitialized();
    }
}