@page "/"

<div class="container justify-content-center">
    <div class="avatar"></div>
    <div class="about-me text-center">
        <p>
            @*Hello! I am <strong>Allen Dela Cruz</strong>. A developer based in Philippines. I create web and mobile application using <strong>Microsoft techologies</strong> with <strong>clean architecture</strong> principle and <strong>unit testable</strong> functions. With 6+ years of experience.*@
            Hello! I am <strong>Allen Dela Cruz</strong>. A developer based in Philippines. I create web and mobile application. With 6+ years of experience.
        </p>
    </div>
</div>