@page "/"

<div class="container justify-content-center d-flex" style="height: 80vh; width: 100%;">
    <div class="align-self-center">
        <div class="avatar"></div>
        <div class="about-me text-center">
            <span style="font-size:x-large;">
                Hello! I am <strong>Allen Dela Cruz</strong>.
            </span>
            <br />
            <span>
                A software developer based in Philippines.
            </span>
            <br />
            <span>
                I create web and mobile application.
            </span>
            <br />
            <span>
                With 6+ years of experience.
            </span>
            <br />
            <span>
                Feel free to take a look at my projects <a href="projects" class="a-link-animate-slide-up">here</a>.
            </span>
            <br />
            <span>
                Remotely available at UTC+8. <a href="mailto:allen_s_delacruz@yahoo.com" class="a-link-animate-slide-up">allen_s_delacruz@yahoo.com</a>
            </span>
        </div>
    </div>
</div>