@page "/projects"

<h3 class="text-center p-4">Projects</h3>
<div class="row">
    @foreach (var project in projectThumbs)
    {
        <ProjectThumb ProjectThumbDto="project" />
    }
</div>

@code {
    private List<ProjectThumbDto> projectThumbs = new List<ProjectThumbDto>();

    protected override void OnInitialized()
    {
        projectThumbs.Add(new ProjectThumbDto
        {
            Id = "movie-explorer",
            Title = "Movie Explorer",
            Description = "Movie management for PC and external storage."
        });

        projectThumbs.Add(new ProjectThumbDto
        {
            Id = "notehub",
            Title = "NoteHub",
            Description = "A note taking web app."
        });

        projectThumbs.Add(new ProjectThumbDto
        {
            Id = "messaging",
            Title = "Messaging",
            Description = "A real-time messaging web app."
        });

        projectThumbs.Add(new ProjectThumbDto
        {
            Id = "teller-mobile",
            Title = "Teller (Mobile)",
            Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna."
        });

        projectThumbs.Add(new ProjectThumbDto
        {
            Id = "teller-pwa",
            Title = "Teller (PWA)",
            Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna."
        });

        projectThumbs.Add(new ProjectThumbDto
        {
            Id = "skyark",
            Title = "SkyArk",
            Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna."
        });

        base.OnInitialized();
    }
}
