@page "/contact/success"

<div class="container text-center">
    <h1>Thanks for filling out the form!</h1>
    <p class="lead">
        I appreciate you contacting me!
        I will be getting back to you shortly.
        <br />
        <br />
        Have a great day ahead!
    </p>
    <p>
        Back to <a class="a-link-animate-slide-up" href="">Home page</a>
    </p>
</div>

@code {

}
