.bottom-0 {
    bottom: 0 !important;
}

.card {
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
}

.a-link-animate-slide-up {
    text-decoration: none !important;
    background: linear-gradient( to bottom, #6c757d 0%, #6c757d 100% );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    color: #000;
    text-decoration: none;
    transition: background-size .2s;
}

    .a-link-animate-slide-up:hover {
        background-size: 4px 50px;
        color: inherit;
    }

.required-asterisk {
    color: red !important;
    font-size: large !important;
}
